<app-header></app-header>
<br>

    <section>

      <form>
         
        <input type="text" name="nombre" placeholder="CORREO" required>
  
       
        <input type="email" name="correo" placeholder="CONTRASEÑA" required>
    
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </form>


      <div class="container" >


     <img src="fotos/fotohome.jpg" alt="fotohome">
     
    </div>

    </section>

    <br>
<app-footer></app-footer>